fastapi==0.118.3
uvicorn==0.23.2
python-multipart==0.0.6
pypdf==3.17.0
sentence-transformers==2.2.2
faiss-gpu==1.7.2
huggingface-hub
transformers==4.35.0
numpy==1.25.2
requests==2.32.0
google-generativeai
torch
python-dotenv